*{
    
    font-family: Poppins, sans-serif;
    background-color: rgb(24, 24, 24);
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: underline;
}
  
a:active {
    color: white;
}

.title{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 80px;
}

.pg1{
    position: absolute;
    top: 188px;
    right: 1085px;
}

.pg2{
    position: absolute;
    top: 188px;
    right: 985px;
}

.pg3{
    text-align: center;
    position: absolute;
    top: 188px;
    right: 885px;
}

.pg4{
    text-align: center;
    position: absolute;
    top: 188px;
    right: 785px;
}
.button1{
    color:white;
    font-size: 20px;
    font-weight: bold;
    background-color: #009DFF;
    height: 70px;
    width: 200px;
    border: white 200px;
    border-radius: 50px;
    position: absolute;
    top: 285px;
    right: 850px;
}

.subtitle{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 450px;
    left: 450px;
}

.text{
    color:white;
    font-size: 25px;
    position: absolute;
    top: 485px;
    left: 35px;
    text-align: center;
    padding-left: 400px;
    padding-right: 400px;
}

.button2{
    color:white;
    font-size: 20px;
    font-weight: bold;
    background-color: #009DFF;
    height: 70px;
    width: 200px;
    border: white 200px;
    border-radius: 50px;
    position: absolute;
    bottom: 200px;
    left: 735px;
}

.button3{
    color:white;
    font-size: 20px;
    font-weight: bold;
    background-color: #009DFF;
    height: 70px;
    width: 200px;
    border: white 200px;
    border-radius: 50px;
    position: absolute;
    bottom: 200px;
    right: 735px;
}

.ignore{
    font-size: 15px;
    position: absolute;
    bottom: 100px;
    left: 950px;
}
